*.txt
01_input_from_metaeuk/
02_isoform_combined_table/
03_isoform_seq/

#python
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


###nextflow
.idea/**
.gradle
.*.log*
.cache/*
.vagrant/*
.cache/*
.nextflow*
.node-nextflow*
.devcontainer
.vscode/*
*/*/bin/*
**/build/**
build/**
modules/**/build/
modules/**/*.iml
modules/nextflow/work/
**/out/*
tmp/*
work/*
nextflow.eml
nextflow.iml
Vagrantfile
resources/*
test/*
tools/*
tests_other
other
docs/_build/
./*.txt
errors/
misc/
cloud/my-*
docker-test
docker/dist
docker/nextflow
temp
.dockerignore
.launch.classpath
plugins-prod
sandbox
wave-tests


##notebook

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.egg
MANIFEST
